-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: clinic_management_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Appointments`
--

DROP TABLE IF EXISTS `Appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Appointments` (
  `appointment_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `service_id` int NOT NULL,
  `user_id` int DEFAULT NULL,
  `marca` enum('Modelha DK','Depilclinik') NOT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `status` enum('Programada','Confirmada','En Tratamiento','Completada','Cancelada') NOT NULL DEFAULT 'Programada',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`appointment_id`),
  KEY `fk_appointments_customer` (`customer_id`),
  KEY `fk_appointments_service` (`service_id`),
  KEY `fk_appointments_user` (`user_id`),
  CONSTRAINT `fk_appointments_customer` FOREIGN KEY (`customer_id`) REFERENCES `Customers` (`customer_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_appointments_service` FOREIGN KEY (`service_id`) REFERENCES `Services` (`service_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_appointments_user` FOREIGN KEY (`user_id`) REFERENCES `Users` (`user_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Appointments`
--

LOCK TABLES `Appointments` WRITE;
/*!40000 ALTER TABLE `Appointments` DISABLE KEYS */;
INSERT INTO `Appointments` VALUES (1,1,1,2,'Modelha DK','2026-07-09 16:00:00','2026-07-09 17:00:00','En Tratamiento','2026-07-08 06:51:58'),(2,1,2,1,'Depilclinik','2026-07-10 16:00:00','2026-07-10 17:00:00','En Tratamiento','2026-07-08 07:00:26'),(3,2,1,2,'Modelha DK','2026-07-12 19:00:00','2026-07-12 20:00:00','Programada','2026-07-08 17:12:14'),(4,3,1,2,'Modelha DK','2026-07-14 17:00:00','2026-07-14 18:00:00','Confirmada','2026-07-08 17:51:33');
/*!40000 ALTER TABLE `Appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Assessment_Photos`
--

DROP TABLE IF EXISTS `Assessment_Photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Assessment_Photos` (
  `photo_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int DEFAULT NULL,
  `laser_assessment_id` int DEFAULT NULL,
  `photo_url` varchar(512) NOT NULL,
  `photo_type` enum('Antes','Despues','Evolucion') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`photo_id`),
  KEY `fk_photos_modelha` (`assessment_id`),
  KEY `fk_photos_laser` (`laser_assessment_id`),
  CONSTRAINT `fk_photos_laser` FOREIGN KEY (`laser_assessment_id`) REFERENCES `Laser_Medical_Assessments` (`laser_assessment_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_photos_modelha` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Assessment_Photos`
--

LOCK TABLES `Assessment_Photos` WRITE;
/*!40000 ALTER TABLE `Assessment_Photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `Assessment_Photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Assessment_Professional_Treatments`
--

DROP TABLE IF EXISTS `Assessment_Professional_Treatments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Assessment_Professional_Treatments` (
  `assessment_treatment_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `professional_type` enum('Dermatologo','Ginec├â┬│logo','Endocrin├â┬│logo','Psic├â┬│logo/Psiquiatra','M├â┬®dico Est├â┬®tico','Cirujano Pl├â┬ístico','Cosmet├â┬│logo','Fisioterapeita','Nutriologo','Otro') NOT NULL,
  `treatment_details` text,
  PRIMARY KEY (`assessment_treatment_id`),
  KEY `fk_prof_treatments_assessment` (`assessment_id`),
  CONSTRAINT `fk_prof_treatments_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Assessment_Professional_Treatments`
--

LOCK TABLES `Assessment_Professional_Treatments` WRITE;
/*!40000 ALTER TABLE `Assessment_Professional_Treatments` DISABLE KEYS */;
/*!40000 ALTER TABLE `Assessment_Professional_Treatments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Customers`
--

DROP TABLE IF EXISTS `Customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Customers` (
  `customer_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `phone` varchar(10) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `birth` date NOT NULL,
  `gender` enum('H','M','ND') NOT NULL,
  `address` text,
  `occupation` varchar(150) DEFAULT NULL,
  `emergency_contact_name` varchar(255) DEFAULT NULL,
  `emergency_contact_phone` varchar(10) DEFAULT NULL,
  `medical_insurance_number` varchar(50) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`customer_id`),
  UNIQUE KEY `phone` (`phone`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `medical_insurance_number` (`medical_insurance_number`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Customers`
--

LOCK TABLES `Customers` WRITE;
/*!40000 ALTER TABLE `Customers` DISABLE KEYS */;
INSERT INTO `Customers` VALUES (1,'Fernanda Holgu├¡n Roque','6187654362','fernanda@mail.com','2001-09-09','M','Direccion 123 Colonia','Maestra','Brian Gonzalez Ramirez','6181234567','17283948765',1,'2026-07-08 06:45:26'),(2,'Daniela Avila Castro','6187654363','daniela@mail.com','2005-09-03','M','Direccion Daniela','Mesera','Fernanda Pantoja','6177293737','63736473641',1,'2026-07-08 17:11:38'),(3,'Lorena Ramirez Rodriguez','6187653938','lorenaedit@mail.com','2000-09-03','M','Direccion lorena','6183749809','Rogelio Gonzalez valdez','6187653972','18374653647',1,'2026-07-08 17:49:42');
/*!40000 ALTER TABLE `Customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Daily_Skincare_Routines`
--

DROP TABLE IF EXISTS `Daily_Skincare_Routines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Daily_Skincare_Routines` (
  `routine_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `day_cleanser` varchar(150) DEFAULT NULL,
  `day_moisturizer` varchar(150) DEFAULT NULL,
  `day_sunscreen` varchar(150) DEFAULT NULL,
  `day_exfoliator` varchar(150) DEFAULT NULL,
  `day_toner` varchar(150) DEFAULT NULL,
  `day_serum` varchar(150) DEFAULT NULL,
  `day_other` varchar(255) DEFAULT NULL,
  `night_cleanser` varchar(150) DEFAULT NULL,
  `night_moisturizer` varchar(150) DEFAULT NULL,
  `night_toner` varchar(150) DEFAULT NULL,
  `night_eye_cream` varchar(150) DEFAULT NULL,
  `night_makeup_remover` varchar(150) DEFAULT NULL,
  `night_exfoliator` varchar(150) DEFAULT NULL,
  `night_other` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`routine_id`),
  KEY `fk_routines_assessment` (`assessment_id`),
  CONSTRAINT `fk_routines_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Daily_Skincare_Routines`
--

LOCK TABLES `Daily_Skincare_Routines` WRITE;
/*!40000 ALTER TABLE `Daily_Skincare_Routines` DISABLE KEYS */;
/*!40000 ALTER TABLE `Daily_Skincare_Routines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Gyneco_Obstetric_Records`
--

DROP TABLE IF EXISTS `Gyneco_Obstetric_Records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Gyneco_Obstetric_Records` (
  `gyneco_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `period_start_age` int DEFAULT NULL,
  `menopause_start_age` int DEFAULT NULL,
  `last_period_date` date DEFAULT NULL,
  `period_type` enum('Regular','Irregular','C├â┬│licos','Antojos') DEFAULT NULL,
  `contraceptive_method` varchar(100) DEFAULT NULL,
  `emergency_contraceptive` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`gyneco_id`),
  KEY `fk_gyneco_assessment` (`assessment_id`),
  CONSTRAINT `fk_gyneco_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Gyneco_Obstetric_Records`
--

LOCK TABLES `Gyneco_Obstetric_Records` WRITE;
/*!40000 ALTER TABLE `Gyneco_Obstetric_Records` DISABLE KEYS */;
/*!40000 ALTER TABLE `Gyneco_Obstetric_Records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Laser_Areas_Of_Interest`
--

DROP TABLE IF EXISTS `Laser_Areas_Of_Interest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Laser_Areas_Of_Interest` (
  `laser_area_interest_id` int NOT NULL AUTO_INCREMENT,
  `laser_assessment_id` int NOT NULL,
  `area_name` enum('Extra Chicas','Chicas','Mediana','Grande','Full Body') NOT NULL,
  PRIMARY KEY (`laser_area_interest_id`),
  KEY `fk_laser_areas_assessment` (`laser_assessment_id`),
  CONSTRAINT `fk_laser_areas_assessment` FOREIGN KEY (`laser_assessment_id`) REFERENCES `Laser_Medical_Assessments` (`laser_assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Laser_Areas_Of_Interest`
--

LOCK TABLES `Laser_Areas_Of_Interest` WRITE;
/*!40000 ALTER TABLE `Laser_Areas_Of_Interest` DISABLE KEYS */;
/*!40000 ALTER TABLE `Laser_Areas_Of_Interest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Laser_Clinical_Conditions`
--

DROP TABLE IF EXISTS `Laser_Clinical_Conditions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Laser_Clinical_Conditions` (
  `condition_id` int NOT NULL AUTO_INCREMENT,
  `laser_assessment_id` int NOT NULL,
  `has_acne` tinyint(1) DEFAULT '0',
  `has_skin_spots` tinyint(1) DEFAULT '0',
  `has_vitiligo` tinyint(1) DEFAULT '0',
  `has_varicose_veins` tinyint(1) DEFAULT '0',
  `has_rosacea` tinyint(1) DEFAULT '0',
  `has_alopecia` tinyint(1) DEFAULT '0',
  `has_hirsutism` tinyint(1) DEFAULT '0',
  `has_previous_shaving` tinyint(1) DEFAULT '0',
  `has_waxing_history` tinyint(1) DEFAULT '0',
  `takes_supplements` tinyint(1) DEFAULT '0',
  `uses_contraceptives` tinyint(1) DEFAULT '0',
  `has_pregnancies` tinyint(1) DEFAULT '0',
  `has_pcos` tinyint(1) DEFAULT '0',
  `gynecological_other_notes` text,
  PRIMARY KEY (`condition_id`),
  KEY `fk_laser_conditions_assessment` (`laser_assessment_id`),
  CONSTRAINT `fk_laser_conditions_assessment` FOREIGN KEY (`laser_assessment_id`) REFERENCES `Laser_Medical_Assessments` (`laser_assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Laser_Clinical_Conditions`
--

LOCK TABLES `Laser_Clinical_Conditions` WRITE;
/*!40000 ALTER TABLE `Laser_Clinical_Conditions` DISABLE KEYS */;
/*!40000 ALTER TABLE `Laser_Clinical_Conditions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Laser_Evolution_Logs`
--

DROP TABLE IF EXISTS `Laser_Evolution_Logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Laser_Evolution_Logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `laser_assessment_id` int NOT NULL,
  `appointment_id` int NOT NULL,
  `session_number` int NOT NULL,
  `laser_brand_model` varchar(100) DEFAULT NULL,
  `evolution_notes` text,
  PRIMARY KEY (`log_id`),
  KEY `fk_evolution_laser_assessment` (`laser_assessment_id`),
  KEY `fk_evolution_appointment` (`appointment_id`),
  CONSTRAINT `fk_evolution_appointment` FOREIGN KEY (`appointment_id`) REFERENCES `Appointments` (`appointment_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_evolution_laser_assessment` FOREIGN KEY (`laser_assessment_id`) REFERENCES `Laser_Medical_Assessments` (`laser_assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Laser_Evolution_Logs`
--

LOCK TABLES `Laser_Evolution_Logs` WRITE;
/*!40000 ALTER TABLE `Laser_Evolution_Logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `Laser_Evolution_Logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Laser_Medical_Assessments`
--

DROP TABLE IF EXISTS `Laser_Medical_Assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Laser_Medical_Assessments` (
  `laser_assessment_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `referred_media` enum('Instagram','Facebook','TikTok','Recomendacion','Por su cuenta','Otro') NOT NULL,
  `has_diseases` tinyint(1) DEFAULT '0',
  `diseases_notes` text,
  `has_medications` tinyint(1) DEFAULT '0',
  `medications_notes` text,
  `has_tattoos` tinyint(1) DEFAULT '0',
  `tattoos_notes` text,
  `has_allergies` tinyint(1) DEFAULT '0',
  `allergies_notes` text,
  `has_aesthetic_procedures` tinyint(1) DEFAULT '0',
  `aesthetics_procedures_notes` text,
  `has_signed_consent` tinyint(1) DEFAULT '0',
  `consent_pdf_url` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`laser_assessment_id`),
  KEY `fk_laser_customer` (`customer_id`),
  CONSTRAINT `fk_laser_customer` FOREIGN KEY (`customer_id`) REFERENCES `Customers` (`customer_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Laser_Medical_Assessments`
--

LOCK TABLES `Laser_Medical_Assessments` WRITE;
/*!40000 ALTER TABLE `Laser_Medical_Assessments` DISABLE KEYS */;
/*!40000 ALTER TABLE `Laser_Medical_Assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Lifestyle_Habits`
--

DROP TABLE IF EXISTS `Lifestyle_Habits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Lifestyle_Habits` (
  `habit_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `makeup_frequency` varchar(100) DEFAULT NULL,
  `whashing_frequency` varchar(100) DEFAULT NULL,
  `physical_activity_details` text,
  `sleep_time` time DEFAULT NULL,
  `wake_time` time DEFAULT NULL,
  `stress_level` int NOT NULL,
  `day_description` text NOT NULL,
  PRIMARY KEY (`habit_id`),
  KEY `fk_habits_assessment` (`assessment_id`),
  CONSTRAINT `fk_habits_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Lifestyle_Habits`
--

LOCK TABLES `Lifestyle_Habits` WRITE;
/*!40000 ALTER TABLE `Lifestyle_Habits` DISABLE KEYS */;
/*!40000 ALTER TABLE `Lifestyle_Habits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Medical_Assessments`
--

DROP TABLE IF EXISTS `Medical_Assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Medical_Assessments` (
  `assessment_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `consultation_reason` text NOT NULL,
  `onset_date_details` varchar(250) DEFAULT NULL,
  `known_cause` text,
  `previous_care` text,
  `temperature_c` decimal(4,1) DEFAULT NULL,
  `blood_pressure` varchar(20) DEFAULT NULL,
  `oxygen_saturation` int DEFAULT NULL,
  `heart_rate_bpm` int DEFAULT NULL,
  `referred_media` enum('Instagram','Facebook','TikTok','Recomendacion','Por su cuenta','Otro') NOT NULL,
  `professional_assessment` text,
  `has_signed_consent` tinyint(1) NOT NULL DEFAULT '0',
  `consent_pdf_url` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`assessment_id`),
  KEY `fk_assessments_customer` (`customer_id`),
  CONSTRAINT `fk_assessments_customer` FOREIGN KEY (`customer_id`) REFERENCES `Customers` (`customer_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Medical_Assessments`
--

LOCK TABLES `Medical_Assessments` WRITE;
/*!40000 ALTER TABLE `Medical_Assessments` DISABLE KEYS */;
/*!40000 ALTER TABLE `Medical_Assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Modelha_Evolution_Logs`
--

DROP TABLE IF EXISTS `Modelha_Evolution_Logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Modelha_Evolution_Logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `appointment_id` int NOT NULL,
  `session_number` int NOT NULL,
  `treatment_description` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `fk_modelha_evo_assessment` (`assessment_id`),
  KEY `fk_modelha_evo_appointment` (`appointment_id`),
  CONSTRAINT `fk_modelha_evo_appointment` FOREIGN KEY (`appointment_id`) REFERENCES `Appointments` (`appointment_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_modelha_evo_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Modelha_Evolution_Logs`
--

LOCK TABLES `Modelha_Evolution_Logs` WRITE;
/*!40000 ALTER TABLE `Modelha_Evolution_Logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `Modelha_Evolution_Logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Obstetric_History_Details`
--

DROP TABLE IF EXISTS `Obstetric_History_Details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Obstetric_History_Details` (
  `obstetric_detail_id` int NOT NULL AUTO_INCREMENT,
  `gyneco_id` int NOT NULL,
  `condition_status` enum('Embarazo','Aborto','Lactancia') NOT NULL,
  `count_value` int NOT NULL DEFAULT '1',
  `notes` text,
  PRIMARY KEY (`obstetric_detail_id`),
  KEY `fk_obstetric_gyneco` (`gyneco_id`),
  CONSTRAINT `fk_obstetric_gyneco` FOREIGN KEY (`gyneco_id`) REFERENCES `Gyneco_Obstetric_Records` (`gyneco_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Obstetric_History_Details`
--

LOCK TABLES `Obstetric_History_Details` WRITE;
/*!40000 ALTER TABLE `Obstetric_History_Details` DISABLE KEYS */;
/*!40000 ALTER TABLE `Obstetric_History_Details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Patient_Allergies_Records`
--

DROP TABLE IF EXISTS `Patient_Allergies_Records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Patient_Allergies_Records` (
  `allergy_record_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `allergy_food` tinyint(1) DEFAULT '0',
  `allergy_medication` tinyint(1) DEFAULT '0',
  `allergy_material` tinyint(1) DEFAULT '0',
  `allergy_product_ingredient` tinyint(1) DEFAULT '0',
  `allergy_object_animal` tinyint(1) DEFAULT '0',
  `has_dermographism` tinyint(1) DEFAULT '0',
  `has_sun_redness` tinyint(1) DEFAULT '0',
  `has_pets_at_home` tinyint(1) DEFAULT '0',
  `has_stress_reaction` tinyint(1) DEFAULT '0',
  `allergy_details` text,
  PRIMARY KEY (`allergy_record_id`),
  KEY `fk_allergies_assessment` (`assessment_id`),
  CONSTRAINT `fk_allergies_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Patient_Allergies_Records`
--

LOCK TABLES `Patient_Allergies_Records` WRITE;
/*!40000 ALTER TABLE `Patient_Allergies_Records` DISABLE KEYS */;
/*!40000 ALTER TABLE `Patient_Allergies_Records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_Diet_Ratings`
--

DROP TABLE IF EXISTS `patient_Diet_Ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patient_Diet_Ratings` (
  `diet_rating_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `food_item` enum('Refrescos','Bebidas energizantes','Cafe','Alcohol','Pan dulce y Azucar','Frituras','Comida picante','L├â┬ícteos','Proteina gymnasio','Carnes rojas','Vegetales','Almendras/Nueces','Frutas','Tabaco/Vape','Cannabis/Drogas','L de agua diarios') NOT NULL,
  `rating_value` int NOT NULL,
  PRIMARY KEY (`diet_rating_id`),
  KEY `fk_diet_assessment` (`assessment_id`),
  CONSTRAINT `fk_diet_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_Diet_Ratings`
--

LOCK TABLES `patient_Diet_Ratings` WRITE;
/*!40000 ALTER TABLE `patient_Diet_Ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_Diet_Ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Patient_Medical_Backgrounds`
--

DROP TABLE IF EXISTS `Patient_Medical_Backgrounds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Patient_Medical_Backgrounds` (
  `background_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `has_diabetes` tinyint(1) DEFAULT '0',
  `has_hyperthyroidism` tinyint(1) DEFAULT '0',
  `has_hypothyroidism` tinyint(1) DEFAULT '0',
  `has_policystic_ovary` tinyint(1) DEFAULT '0',
  `has_heart_failure` tinyint(1) DEFAULT '0',
  `has_hypertension_hypotension` tinyint(1) DEFAULT '0',
  `has_high_cholesterol` tinyint(1) DEFAULT '0',
  `has_thrombosis` tinyint(1) DEFAULT '0',
  `has_epilepsy` tinyint(1) DEFAULT '0',
  `has_migraine` tinyint(1) DEFAULT '0',
  `has_convulsions` tinyint(1) DEFAULT '0',
  `has_phobias` tinyint(1) DEFAULT '0',
  `has_depression` tinyint(1) DEFAULT '0',
  `has_anxiety` tinyint(1) DEFAULT '0',
  `has_gastritis` tinyint(1) DEFAULT '0',
  `has_irritable_colon` tinyint(1) DEFAULT '0',
  `has_digestive_disconforts` tinyint(1) DEFAULT '0',
  `has_kidney_diseases` tinyint(1) DEFAULT '0',
  `has_cancer_history` tinyint(1) DEFAULT '0',
  `has_hiv_aids` tinyint(1) DEFAULT '0',
  `has_hepatitis` tinyint(1) DEFAULT '0',
  `has_herpes` tinyint(1) DEFAULT '0',
  `has_fever` tinyint(1) DEFAULT '0',
  `has_body_head_pain` tinyint(1) DEFAULT '0',
  `has_throat_inflammation` tinyint(1) DEFAULT '0',
  `has_vomiting_nausea` tinyint(1) DEFAULT '0',
  `has_eye_diseases` tinyint(1) DEFAULT '0',
  `has_contact_lentes` tinyint(1) DEFAULT '0',
  `has_eyelash_extensions` tinyint(1) DEFAULT '0',
  `has_pacemaker` tinyint(1) DEFAULT '0',
  `has_metal_plates` tinyint(1) DEFAULT '0',
  `has_implants` tinyint(1) DEFAULT '0',
  `has_esthetic_fillers` tinyint(1) DEFAULT '0',
  `has_surgeries` tinyint(1) DEFAULT '0',
  `has_fractures` tinyint(1) DEFAULT '0',
  `has_medications` tinyint(1) DEFAULT '0',
  `has_pregnancy_lactation` tinyint(1) DEFAULT '0',
  `medical_observations` text,
  PRIMARY KEY (`background_id`),
  KEY `fk_medical_bg_assessment` (`assessment_id`),
  CONSTRAINT `fk_medical_bg_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Patient_Medical_Backgrounds`
--

LOCK TABLES `Patient_Medical_Backgrounds` WRITE;
/*!40000 ALTER TABLE `Patient_Medical_Backgrounds` DISABLE KEYS */;
/*!40000 ALTER TABLE `Patient_Medical_Backgrounds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_Skin_Practices`
--

DROP TABLE IF EXISTS `patient_Skin_Practices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patient_Skin_Practices` (
  `practice_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `substance_type` enum('Hidroquinona','Barmicil','Corticoides','Remedios caseros','Otros') NOT NULL,
  `aplication_details` text,
  PRIMARY KEY (`practice_id`),
  KEY `fk_practices_assessment` (`assessment_id`),
  CONSTRAINT `fk_practices_assessment` FOREIGN KEY (`assessment_id`) REFERENCES `Medical_Assessments` (`assessment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_Skin_Practices`
--

LOCK TABLES `patient_Skin_Practices` WRITE;
/*!40000 ALTER TABLE `patient_Skin_Practices` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_Skin_Practices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Service_inclusions`
--

DROP TABLE IF EXISTS `Service_inclusions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Service_inclusions` (
  `inclusion_id` int NOT NULL AUTO_INCREMENT,
  `service_id` int NOT NULL,
  `item_name` varchar(255) NOT NULL,
  PRIMARY KEY (`inclusion_id`),
  KEY `fk_inclusions_service` (`service_id`),
  CONSTRAINT `fk_inclusions_service` FOREIGN KEY (`service_id`) REFERENCES `Services` (`service_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Service_inclusions`
--

LOCK TABLES `Service_inclusions` WRITE;
/*!40000 ALTER TABLE `Service_inclusions` DISABLE KEYS */;
/*!40000 ALTER TABLE `Service_inclusions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Services`
--

DROP TABLE IF EXISTS `Services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Services` (
  `service_id` int NOT NULL AUTO_INCREMENT,
  `brand` enum('Modelha DK','Depilclinik') NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text,
  `suggested_frequency` varchar(50) DEFAULT NULL,
  `regular_price` decimal(10,2) NOT NULL,
  `promo_price` decimal(10,2) DEFAULT NULL,
  `requires_assessment` tinyint(1) DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`service_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Services`
--

LOCK TABLES `Services` WRITE;
/*!40000 ALTER TABLE `Services` DISABLE KEYS */;
INSERT INTO `Services` VALUES (1,'Modelha DK','Limpieza Facial',NULL,NULL,500.00,NULL,0,1,'2026-07-08 06:50:25'),(2,'Depilclinik','Depilacin Axilas',NULL,NULL,300.00,NULL,0,1,'2026-07-08 06:50:34');
/*!40000 ALTER TABLE `Services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Users`
--

DROP TABLE IF EXISTS `Users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `phone` varchar(10) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(255) NOT NULL,
  `birth` date DEFAULT NULL,
  `gender` enum('H','M','ND') NOT NULL,
  `address` text,
  `job_position` varchar(150) DEFAULT NULL,
  `emergency_contact_name` varchar(255) DEFAULT NULL,
  `emergency_contact_phone` varchar(10) DEFAULT NULL,
  `medical_insurance_number` varchar(50) DEFAULT NULL,
  `rol` enum('Administrador','Colaborador') NOT NULL DEFAULT 'Colaborador',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `must_change_password` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `public_id` char(36) NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `uq_users_public_id` (`public_id`),
  UNIQUE KEY `medical_insurance_number` (`medical_insurance_number`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Users`
--

LOCK TABLES `Users` WRITE;
/*!40000 ALTER TABLE `Users` DISABLE KEYS */;
/*!40000 ALTER TABLE `Users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-08 18:40:58
